absl-py==0.15.0
einops==0.3.2
ftfy
gdown==3.13.1
hydra-core==1.1.0
matplotlib
numpy==1.21
packaging
pandas
pyrender==0.1.45
pytorch3d==0.3.0
regex
scipy
tensorboard
torch
torchvision
transformers
trimesh==3.9.34
